* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  background-color: #fff6f6;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
  padding: 1%;
  margin: 1%;
  background-color: #B22222;
  border-radius: 15px;
  width: 150px;
  color: #ffffff;
  transform: scale(1.03);
}

#header {
  padding: 2%;
}

h1 {
  margin: 1%;
  font-size: 300%;
  margin-bottom: 3%;
}

body {
  text-align: center;
}

#homepage {
  height: 100vh;
}

#homepage-div {
  overflow: hidden;
  height: 50vh;
  margin-bottom: 2%;
}

#homepage-div img {
  margin: -160px 0 -50px 0;
}

h5 {
  margin: 1%;
}

#pizza-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #9e2222;
  color: #ffffff;
  padding: 3%;
  text-align: start;
  width: 80%;
  margin: 0 auto;
}

#size-dropdown {
  width: 25%; 
}

#toppings {
  display: flex;
  flex-direction: column;
}

#special-text {
  width: 100%;
}

#order-button {
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}
